<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/tabs/gastos']">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/reportes']">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tips']">
      <ion-icon name="bulb-outline"></ion-icon>
      <ion-label>Tips</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
